.css-1mxz8qt-MuiPaper-root{
 background-color: #233a4e !important;
}

.css-i4bv87-MuiSvgIcon-root{
 color: white;
}


.css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root.Mui-active{
 color: white !important;
}



.css-1y3yv5w-MuiTableCell-root{
 color: white !important;
 padding-left: 20px !important;
}

.css-jtlhu6-MuiTablePagination-root{
 color: white !important;
}

.roco{
 color: white !important;
 font-size: medium !important;
}

.css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root{
 padding-right: 40px !important;
}